{% extends "layout.html" %}
{% block content %}
<div class="row mx-2">
	<div class="col-4">
	</div>
	<div class="col-4">
	<form>
	<legend class="border-bottom text-black mb-4" style="text-align:center;"><h1><samp>Sign In</samp></h1></legend>
	  <div class="form-group" style="text-align:center;">
	    <label class="text-black" style="font-size:24px; font-family:Helvetica" for="exampleInputEmail1">Email Id</label>
	    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
	    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
	  </div>
	  <div class="form-group" style="text-align:center;">
	    <label class="text-black" style="font-size:24px; font-family:Helvetica" for="exampleInputPassword1">Password</label>
	    <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
	  </div>
	  <div class="form-group form-check" style="text-align:center;">
	    <input type="checkbox" class="form-check-input" id="exampleCheck1">
	    <label class="form-check-label text-black" for="exampleCheck1">Remeber Me</label>
	  </div>
	  <div  style="text-align:center;">
	  	<small class="text-muted">
            Forgot Your Password ? <a class="ml-2" href="/register">Click here</a>
    	</small>
   	  </div>
      <br>
     	<div class="" style="text-align:center;"> 
	  		<button type="submit" class="btn btn-outline-dark btn-lg">Sign In</button>
		</div>
	</form>
	<br>
	<div class="border-top " style="text-align:center;">
        <small class="text-muted">
            Create An Account ? <a class="ml-2" href="/register">Sign up</a>
        </small>
    </div>
	</div>
	<div class="col-4"> 
	</div>
</div>
{% endblock content %}